{% extends "layouts/base.html" %}
{% load email_obfuscation %}
{% block title %}Nuevo pedido{% endblock %}
{% block content %}
<p>Escribenos a {{ "juan@examples.com"|email_obfuscation|safe }}</p>
<p>Entero aleatorio: {% random_integer 100 200 %}</p>
{% if user.is_authenticated %}
<p>El usuario ha iniciado sesión</p>
{% else %}
<p>Es usuario anónimo</p>
{% endif %}
User: {{ user.username }}
<h1>Nuevo pedido</h1>
<form action="{% url create_order %}" method="POST" />{% comment %}{% csrf_token %}{% endcomment %}
<table>
{{ form.as_table }}
</table>
<p><input type="submit" value="Enviar pedido" /></p>
</form>
{% endblock %}
